<!--
<div class="row">
  <div class="col-sm-8 col-sm-ofset-2">
    <h2> nouveau book</h2>
    <form [formGroup]="bookForm" (ngSubmit)="">
      <div class="fom-group">
        <label for="title" > Titre </label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div> <div class="fom-group">
      <label for="author" > Auteur </label>
      <input type="author" id="author" class="form-control" formControlName="author" autocomplete="off">

      <button class=" btn btn-primary" type="submit" [disabled]="bookForm.invalid">valider</button>
    </form>
  </div>
</div>

-->
