<div class="row">
  <div class="col-xs-12">
    <h2> vos Tasks</h2>
    <div class="list-group" *ngIf="tasks">
      <button class="list-group-item"
              *ngFor="let t of tasks ;let i=index" (click)="onViewTask(i)">
        <h3 class="list-group-item-heading">{{t.taskName}}
          <button class="btn btn-default pull-right"(click)="ondeleteTask(t)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </h3>
      </button>
    </div>
    <button class="btn btn-primary"(click)="onNewTask()">nouveau Task
    </button>
  </div>
</div>
